@import '../variables.scss';

.contact-content {
  max-width: 80%;

  .contact-box {
    padding: 30px;
    margin: 35px;
    background-color: $color-gray;
    text-align: center;

    h2 {
      margin-top: 0;
    }
  }
}

.link {
  display: block;
}
