.contact-container {
  margin-bottom: 150px;
  margin-top: 100px;

  .contact-input {
    margin-bottom: 30px;
  }

  .submit-button {
    display: block;
  }

  .text-icon {
    vertical-align: middle;
    display: inline-flex;
  }
}
