.footer-container {
  height: 90px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #dadada;

  .content-wrapper {
    padding-top: 15px;

    .social-links {
      display: flex;
      justify-content: center;
    }
  }
}
