.header-container {
  .top-navigation {
    background: #f9fafa;
  }

  .menu-container {
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
  }
}

.nav-drawer .drawer-list {
  width: 300px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 0;

  .close-button {
    justify-content: flex-end;
  }
}
