@import '../variables.scss';

.breadcrumb-wrapper {
  font-size: 2rem;
  margin-bottom: 40px;

  &.breadcrumb-green {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 65%,
      $color-green 65%
    );
  }

  &.breadcrumb-blue {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 65%,
      $color-blue 65%
    );
  }
}
