// Colors
$color-blue: rgb(174, 255, 248);
$color-green: rgb(187, 233, 149);
$color-purple: rgb(232, 174, 255);
$color-pink: rgba(238, 149, 191, 0.6);
$color-orange: rgb(255, 157, 66);
$color-gray: rgb(110, 110, 110);
$color-dark-gray: rgb(0, 0, 0);
$bg-color: rgb(252, 244, 244);
$dot-color: rgb(42, 40, 48);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;
